<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- 日志输出路径 -->
	<property name="LOG_PATH" value="logs" />
	
	<property name="projectName" value="my-logback-test"/>
	
	<!-- 获取环境变量，通过:-指定默认值 -->
	<property name="envtest" value="${envtest:-${test1:-123}}" />
	
	<!-- 控制台输出  -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[${envtest}][%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 日志文件输出  -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${projectName}.log</file>
		
		
		<!-- 根据时间来制定滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_PATH}/${projectName}-%d{yyyy-MM-dd}-%i.log.gz</FileNamePattern>
			<!-- 多久后自动清楚旧的日志文件,单位:月 -->
			<MaxHistory>90</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 默认值是 10MB,文档最大值 -->
				<MaxFileSize>1MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 错误日志输出  -->
	<!-- <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	<appender name="FILE-ERROR" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/${projectName}.err</file>
		
		<!-- 设置日志过滤器 这里配置的为只命中ERROR级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch> <!-- 设置命中的为接受 -->
			<onMismatch>DENY</onMismatch> <!-- 设置未命中的为拒绝 -->
		</filter>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{36} [%file:%line] - %msg%n </pattern>
		</encoder>
	</appender>
	
	
	
	
	<!-- 抽取输出指定logger名（HHH）的日志 -->
	<appender name="FILE-HHH" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/${projectName}-HHH.log</file>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{36} [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
    
    <logger name="HHH" level="TRACE">
        <appender-ref ref="FILE-HHH"/>
    </logger>
    
    <!-- 抽取输出指定logger名（ZZZ）的日志 -->
	<appender name="FILE-ZZZ" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/${projectName}-ZZZ.log</file>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- 设置编码 -->
			<charset>UTF-8</charset>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{36} [%file:%line] - %msg%n </pattern>
		</encoder>
	</appender>
    
    <logger name="ZZZ" level="TRACE">
        <appender-ref ref="FILE-ZZZ"/>
    </logger>
	
	
	
	<!-- 日志级别定制 -->
	<logger name="com.hzw.learn.springboot.logback.runer1" level="DEBUG" />
	<logger name="com.hzw.learn.springboot.logback.runer2" level="INFO" />
	<logger name="com.hzw.learn.springboot.logback.runer3" level="DEBUG" />
	
	<!-- 默认级别  -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE-ERROR" />
	</root>

</configuration>