<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- 日志输出路径 -->
	<property name="LOG_PATH" value="h:/logs" />
	
	<property name="projectName" value="my-logback-test"/>
	
	<!-- 获取环境变量，通过:-指定默认值 -->
	<property name="envtest" value="${envtest:-${test1:-123}}" />
	
    <!-- 抽取输出指定logger名（HHH）的日志 -->
	<appender name="FILE-HHH" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/${projectName}-HHH.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] %logger{36} [%file:%line] - %msg%n </pattern>
		</encoder>
	</appender>
    
    <logger name="HHH" level="TRACE">
        <appender-ref ref="FILE-HHH"/>
    </logger>
    
</configuration>