<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans default-lazy-init="false"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"

       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- Bean装配测试 -->

    <bean id="hello1" class="com.hzw.learn.springboot.springbase.IOC.HelloImpl"/>

    <bean id="hello2" class="com.hzw.learn.springboot.springbase.IOC.HelloImpl">
        <constructor-arg value="hello hzw!"/>
    </bean>

    <bean id="hello3" class="com.hzw.learn.springboot.springbase.IOC.HelloImpl">
        <constructor-arg index="0" value="hello"/>
        <constructor-arg index="1" value="Mr ni!"/>
    </bean>

    <!--c命名空间指定构造参数-->
    <bean id="hello4"
          class="com.hzw.learn.springboot.springbase.IOC.HelloImpl"
          c:_0="下标定位构造参数"
          c:msg2="name定位构造参数"
    />
    <!--
    c:_0			第一个构造器参数
    c:constr2		构造器参数名constr2
    c:cons1-ref		构造器参数名cons1，使用ref引用注入
    c:_4-ref		构造器第四个参宿，使用ref引用注入
    -->

    <!-- 别名 -->
    <alias alias="helloalias1" name="hello1" />



    <!--使用静态工厂实例化-->
    <bean id="hello5" class="com.hzw.learn.springboot.springbase.IOC.HelloStaticFactory"
          factory-method="newInstance">
        <constructor-arg value="我是静态工厂实例化出来的"/>
    </bean>

    <!--使用实例工厂实例化-->
    <bean id="instanceFactoryBean" class="com.hzw.learn.springboot.springbase.IOC.HelloInstanceFactory"/>
    <bean id="hello6"
          factory-bean="instanceFactoryBean"
          factory-method="newInstance">
        <constructor-arg name="msg1" value="我是谁"/>
        <constructor-arg index="1" value="实例工厂实例化"/>
    </bean>

    <!--稍微扩展一下-->
    <!--scop:  prototype(多例)、singleton（单例）-->
    <bean id="hello_prototype" class="com.hzw.learn.springboot.springbase.IOC.HelloImpl"
          scope="prototype"
    >
        <constructor-arg>
            <!--这里是个内部bean，id定义没有意义，spring会忽略id、nama只有一个唯一的匿名标识，且外部不可见-->
            <bean class="java.lang.String">
                <constructor-arg>
                    <bean class="java.lang.System" factory-method="currentTimeMillis"/>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="hello_singleton" class="com.hzw.learn.springboot.springbase.IOC.HelloImpl"
          scope="singleton"
    >
        <constructor-arg>
            <bean class="java.lang.String">
                <constructor-arg>
                    <bean class="java.lang.System" factory-method="currentTimeMillis"/>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>


</beans>


