<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                 http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context.xsd
                 http://www.springframework.org/schema/tx 
                 http://www.springframework.org/schema/tx/spring-tx.xsd
                 http://www.springframework.org/schema/aop 
                 http://www.springframework.org/schema/tx/spring-aop.xsd">

	<!-- 注释掉部分为原方式 ,新方式移到了DaoConfig.java中进行相关配置对象的实例 -->
	
	<!-- SqlSessionFactory -->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		mybatis配置文件路径
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		
		<property name="plugins">  
			<array>
				<ref bean="auditLogInterceptor"/>
			</array>
		</property>
		
		实体类映射文件路径
		<property name="mapperLocations" value="classpath*:mybatis-mapping/**/*.xml" />
	</bean> -->

	<!-- 配置sqlsession 产生这个实例就是通过 sqlsessionTemplate来实现的 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0">
			<ref bean="sqlSessionFactory" />
		</constructor-arg>
	</bean>

	<bean id="myBatisTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 配置拦截器处理目录 -->
	<bean id="auditEntitys" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="TmCustomer">
					 <map>
				 		<entry key="insertDeny">
								<value>all</value>
				 		</entry>
				 		<entry key="updateAllow">
								<value>all</value>
				 		</entry>
				 		<entry key="deleteAllow">
								<value>all</value>
				 		</entry>
				 	</map>					
				</entry>
			</map>
		</constructor-arg>
	</bean>



	<!-- <bean id="auditEntitys" class="com.hzw.learn.springboot.mybatis.plugins.AuditEntitys">
		<property name="auditEntitys">
			<map>
				<entry key="TmCustomer">
					<map>
						<entry key="insertDeny">
							<value>all</value>
						</entry>
						<entry key="updateAllow">
							<value>all</value>
						</entry>
						<entry key="deleteAllow">
							<value>all</value>
						</entry>
					</map>
				</entry>
			</map>
		</property>
	</bean> -->
	
	
</beans>
